@use "@/styles/tokens" as *;
@use "@/styles/mixins/typography" as *;

.select {
  position: relative;
  border: none;
  display: grid;
  gap: $spacing-quarck;

  &::after {
    content: "";
    width: $spacing-sm;
    height: $spacing-sm;
    right: $spacing-micro;
    top: $spacing-xxl;
    padding-left: $spacing-nano;
    position: absolute;
    transform: translateY(-50%);
    background-color: $color-neutral-bright;
    background-size: $spacing-sm;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 9L12 15L18 9" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0 center;
  }

  &__label {
    @include typography($font-size-sm, $line-height-sm, $font-weight-medium);
  }

  &__input {
    @include typography(
      $font-size-sm,
      $line-height-sm,
      $font-weight-regular,
      $color-neutral-dark
    );

    outline: none;
    appearance: none;
    border-radius: 8px;
    background-color: transparent;
    padding: $spacing-xs $spacing-micro;
    border: 1px solid $color-neutral-darkest;

    &--filled {
      color: $color-neutral-darkest;
    }
  }

  &:focus-within & {
    &__label {
      color: $color-secondary;
    }

    &__input {
      border-color: $color-secondary;
    }
  }
}
