@use "@/styles/tokens" as *;
@use "@/styles/mixins/typography" as *;

.field {
  border: none;
  display: grid;
  gap: $spacing-quarck;

  &__label {
    @include typography($font-size-sm, $line-height-sm, $font-weight-medium);
  }

  &__input {
    @include typography($font-size-sm, $line-height-sm);

    outline: none;
    appearance: none;
    border-radius: 8px;
    background-color: transparent;
    padding: $spacing-xs $spacing-micro;
    border: 1px solid $color-neutral-darkest;

    &::placeholder {
      color: $color-neutral-dark;
    }
  }

  &:focus-within & {
    &__label {
      color: $color-secondary;
    }

    &__input {
      border-color: $color-secondary;
    }
  }
}
