@use "@/styles/tokens" as *;
@use "@/styles/mixins" as *;

.hero {
  background-color: $color-neutral-bright;

  &__wrapper {
    min-height: 100dvh;
    max-width: 1252px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-xl $spacing-sm;

    @include minScreenSize(desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 150px;
    height: auto;

    @include minScreenSize(desktop) {
      width: 200px;
    }
  }

  &__title {
    @include typography($font-size-md, $line-height-md);
    margin-top: $spacing-sm;

    @include minScreenSize(desktop) {
      margin-top: $spacing-xl;
    }

    & > span {
      display: block;

      @include typography(
        $font-size-lg,
        $line-height-lg,
        $font-weight-bold,
        $color-secondary,
        $font-family-primary
      );

      @include minScreenSize(desktop) {
        font-size: $font-size-xl;
        line-height: $line-height-xl;
      }
    }
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-sm;
  }

  &__steps {
    display: flex;
    gap: $spacing-nano;
  }

  &__stepNumber {
    @include typography(
      $font-size-xxxs,
      $line-height-xxxs,
      $font-weight-medium,
      $color-neutral-brightest
    );

    display: block;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    width: $spacing-md;
    height: $spacing-md;
    background-color: $color-neutral-light;

    &:first-of-type {
      background-color: $color-primary;
    }
  }

  &__stepTitle {
    @include typography(
      $font-size-md,
      $line-height-md,
      $font-weight-bold,
      $color-secondary,
      $font-family-primary
    );
  }

  &__form {
    width: 100%;
    display: grid;
    gap: $spacing-sm;

    @include minScreenSize(desktop) {
      max-width: 450px;
    }
  }

  &__terms {
    @include typography($font-size-xxxs, $line-height-xxxs);
    margin-top: $spacing-nano;
  }

  &__cta {
    margin-top: $spacing-lg;
  }
}
