@use "@/styles/tokens" as *;
@use "@/styles/mixins" as *;

.hero {
  background-color: $color-neutral-bright;

  &__wrapper {
    min-height: 100dvh;
    max-width: 1252px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $spacing-xl $spacing-sm;

    @include minScreenSize(desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    width: 150px;
    height: auto;

    @include minScreenSize(desktop) {
      width: 200px;
    }
  }

  &__title {
    @include typography($font-size-md, $line-height-md);
    margin-top: $spacing-sm;

    @include minScreenSize(desktop) {
      margin-top: $spacing-xl;
    }

    & > span {
      display: block;

      @include typography(
        $font-size-lg,
        $line-height-lg,
        $font-weight-bold,
        $color-secondary,
        $font-family-primary
      );

      @include minScreenSize(desktop) {
        font-size: $font-size-xl;
        line-height: $line-height-xl;
      }
    }
  }

  &__form {
    @include minScreenSize(desktop) {
      max-width: 450px;
    }
  }
}
