$color-neutral-brightest: #ffffff;
$color-neutral-bright: #f1f1f1;
$color-neutral-light: #c1c1c1;
$color-neutral-dark: #797979;
$color-neutral-darkest: #2a2a2a;

$color-primary-bright: #dae1e0;
$color-primary-light: #14564c;
$color-primary: #084d43;

$color-secondary: #823f27;
