$font-family-primary: "LibreBaskerville", serif;
$font-family-secondary: "SourceSans3", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$font-size-xxxs: 14px;
$font-size-sm: 16px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;

$line-height-xxxs: 18px;
$line-height-sm: 20px;
$line-height-md: 30px;
$line-height-lg: 40px;
$line-height-xl: 50px;
